@import '_variables.scss';

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 1110px;
  height: 446px;
  border-radius: 8px;
  background: $card-bg;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.20);
  display: flex;
  overflow: hidden;

  &__content {
    width: 100%;
    max-width: 570px;
    padding: 71px 95px 59px 72px;

    &_title {
      color: $white;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
      margin-bottom: 25px;


      span {
        color: $accent;
      }
    }

    &_desc {
      max-width: 374px;
      color: $white;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      opacity: 0.75;
      margin-bottom: 72px;
    }

    &_details {
      display: flex;
      gap: 64px;

      .item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;

        &__title {
          color: $white;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        &__desc {
          color: $white;
          font-family: $lexend;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 1px;
          text-transform: uppercase;
          opacity: 0.6;
        }

        &:last-child {
          margin-left: -4px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 540px;
    background: $accent;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7511;
      mix-blend-mode: multiply;
    }
  }
}

@media screen and (max-width: 767px) {
  .card {
    flex-direction: column-reverse;
    max-width: 327px;
    height: auto;

    &__content {
      max-width: 100%;
      padding: 40px 32px 32px;

      &_title {
        text-align: center;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 16px;
      }

      &_desc {
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
      }

      &_details {
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .item {
          align-items: center;
        }
      }
    }

    &__image {
      max-width: 100%;
      height: 240px;

      &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7511;
        mix-blend-mode: multiply;
      }
    }
  }
}